alembic==1.15.2
celery[gevent]==5.5.1
email-validator==2.2.0
fastapi==0.115.12
fastapi-users[sqlalchemy]==14.0.1
httpx==0.28.1
pydantic-settings==2.9.1
pytest==8.3.5
pytest-asyncio==0.26.0
redis[hiredis]==5.2.1
SQLAlchemy[asyncio,postgresql-asyncpg]==2.0.40
uvicorn[standard]==0.34.2
